.drinksWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drinkTitle{
  font-size: 1.7em;
  color: #780501;
  margin:2px auto;
}

.products{
  display:grid;
  width: 80%;
  height: auto;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin:0 auto auto auto;
  background-color: #e2dad8;
  border-radius: 2%;
  gap: 3px;
}
